<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="img/slider/first.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="img/slider/second.png" alt="Second slide">
      </div>
      <!-- <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div> -->
    </div>
  </div>