<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <link rel="stylesheet" href="css/contact.css">
    <%-include('link/link.ejs') %>
  
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <%- include('navbar/navbar.ejs') %>
<section class="" style="background-color: #152733;">
    <div class="form-body">
        <div class="row ">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScNAIWpXIp2VtWLa4946RKaZDD4DeuAO7SVAzMUC0lw25V-aw/viewform?embedded=true" width="640" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
    <%- include('footer/footer.ejs') %>
    <script>
        (function () {
            'use strict'
            const forms = document.querySelectorAll('.requires-validation')
            Array.from(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                  }
                  form.classList.add('was-validated')
                }, false)
              })
            })()
    </script>
</body>
</html>