<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <%-include('link/link.ejs') %>
    <style>
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
          font-size:30px;
            box-shadow: 2px 2px 3px #999;
          z-index:100;
        }
        .my-float{
            margin-top:16px;
        }
    </style>
</head>
<body>
<%- include('navbar/navbar.ejs') %>
<!-- Slider -->
<%- include('slider/slider.ejs') %>   
<hr>
<%- include('service/service.ejs') %>
<li style="list-style-type: none;">
<a href="https://api.whatsapp.com/send?
         phone=9625534956
         &text=Hola%information%."
   		 class="float" target="_blank">
        <i class="fab fa-whatsapp" style="margin: -6px;"></i>
</a>
</li>
<%- include('formbox/form.ejs') %>

<!-- Testmonials -->
<%- include('testomonials/customer.ejs') %>


<%- include('footer/footer.ejs') %>
</body>
</html>