<section style="background-color:  #f8f8f8;margin-top: 23px;" class="">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <h3 class="headingh3">Services</h3>
        <ul class="clist">
        <li>GST Registration</li>
        <li>PAN</li>
        <li>MSME</li>
        <li>Trademark</li>
        <li>Registrations</li>
        <li>LLP,OPC</li>
        <li>Company Registration</li>
        <li>Proprietorship</li>
        <li>Copyright</li>
        <li>Fssai</li>
        <li>IVR/Toll Free No.</li>
        <li>NGO/Trust/Foundation</li>
        <li>ISO Certification</li>
        <li>Web & Software Development</li>
        <li>Bulk sms</li>
        <li>Imort Export Certificate</li>
        <li>Insurance</li>
        <li>Money Transfer</li>
        <li>Bill Payment</li>
        <li>Postpaid Bills</li>
        <li>Recharges</li>
        <li>DTH</li>
        <li>Datacard</li>
        </ul>
                </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="wpb_wrapper">
                <h3 class="headingh3">Benefits</h3>
    <ul class="clist">
    <li>100% Money redemption on their initial investments. We are offering the full amount coupons in their wallet ( 100 Rs each). If GSK pricing is 7500 Rs then 75 coupons of 100 Rs value will be added in the Wallet which can be used for any service in GSK.</li>
    <li>GST Promotional Material ( Hard Copy of GSK Certificate, Soft Copies of Banner, Visiting Card, Letter Head and Phemplat.)</li>
    <li>GSK Engagement Services like Money Transfer, AEPS, Travel, Recharge, Bill Payments, Insurance etc. to gain maximum clients and save initial cost of the GSK Owner.</li>
    <li>Ongoing recurring income on GST and other Tax Related services.</li>
    <li>24/7 Help-Desk Support &amp; Relationship Manager. Training and Important Announcements.</li>
    <li>No other hidden charges for future services like Loans.</li>
    <li>Interactive CRM to order along with checklist of each service. Commission Payments twice in a month.</li>
    <li>Competitive Service Pricing. e.g GST Registration is 100 Rs.</li>
    </ul>
            </div>
        </div>
    </div>
          </div>
        </div>
      </div>
    </section>