<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<hr>
<section>
<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <span class="logo_name">Digital sarkari seva</span>
      </div>
      <div class="media-icons">
        <a href="https://www.facebook.com/bookbushofficial"><i class="fab fa-facebook" style="margin: -11px;"></i></a>
        <!-- <a href="#"><i class="fab fa-twitter" style="margin: -11px;"></i></a> -->
        <a href="https://www.instagram.com/bookbush/"><i class="fab fa-instagram" style="margin: -11px;"></i></a>
        <a href="https://www.linkedin.com/company/bookbush/?viewAsMember=true"><i class="fab fa-linkedin" style="margin: -11px;"></i></a>
        <a href="https://www.youtube.com/channel/UCnEVVkbN6pNStinAjjPhnYg/featured"><i class="fab fa-youtube" style="margin: -11px;"></i></a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Links</li>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Services</li>
        <li><a href="#">Digital Seva</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Logo Design</a></li>
        <li><a href="#">Banner Design</a></li>
      
      </ul>
  <ul class="box">
        <li class="link_name">Other services</li>
        <li><a href="#">SEO</a></li>
        <li><a href="#">Content Marketing</a></li>
        <li><a href="#">Prints</a></li>
        <li><a href="#">Social Media</a></li>
      
      </ul>
      <ul class="box">
        <li class="link_name">Contact</li>
        <li><a href="#">+91 9525176748 </a></li>
        <li><a href="#">+91 9625534956</a></li>
        <li><a href="#">contact@Bookbush.com</a></li>
        
      
      </ul>
    </div>
  </div>
      <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021 <a href="https://www.bookbush.com" target="_blank">Digital sarkari seva</a></span>
        <span class="policy_terms">
          <a href="https://bookbush.com/privacy-policy-2">Privacy policy</a>
          
        </span>
      </div>
    </div>
</footer>
</section>